.tooling/email1a5babc6-3117-4d6b-87de-050b084c0070/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="Login" doc:name="HTTP Listener config" doc:id="efe21083-0d39-4bf3-a6d0-cfb84ae375d4" >
		<http:listener-connection host="0.0.0.0" port="8081" >
			<reconnection >
				<reconnect />
			</reconnection>
			<reconnection >
				<reconnect />
			</reconnection>
		</http:listener-connection>
	</http:listener-config>
	<db:config name="DefaultMySQLConn" doc:name="Database Config" doc:id="fc265a34-bd77-4922-bf8a-c2ebdecacb32" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="email" />
	</db:config>
	<http:request-config name="login" doc:name="HTTP Request configuration" doc:id="0895b883-8e37-41f4-be02-9ec3a977020c" >
		<http:request-connection host="localhost" port="900" streamResponse="true">
			<reconnection >
				<reconnect />
			</reconnection>
		</http:request-connection>
	</http:request-config>
	<flow name="emailFlow" doc:id="ab9de49b-c2c2-42b4-8bf4-89a0e644eeca" >
		<http:listener doc:name="Login" doc:id="26e8c8a4-7197-4050-9a4c-30e13311b8fa" config-ref="Login" path="/login"/>
		<try doc:name="Try" doc:id="cb0309d5-664a-427d-b0c1-91c0d46a48fd" >
			<set-variable value="#[message.payload.username as String]" doc:name="Username" doc:id="4f6fefa2-8b5f-4974-b64b-1df952d40971" variableName="username" />
			<set-variable value="#[message.payload.password as String]" doc:name="Password" doc:id="caf6d845-7e1d-4b6c-84d1-f5c392927bd0" variableName="password" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c93cd4d7-902a-4d80-aaca-65fbc12a3c1b" >
					<ee:transform doc:name="Transform Message" doc:id="840ca158-591c-4a91-96a1-375c3d176c09" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"Variables": "Error in the variables."
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<try doc:name="Try" doc:id="2b68b636-4269-4a75-9f0d-8dbfdcdf64bc" >
			<http:request method="GET" doc:name="Request" doc:id="0f160639-5d41-4f4a-ad22-fe0bd55010aa" config-ref="login" url="http://localhost:909">
		</http:request>
			<ee:transform doc:name="Transform Message" doc:id="9cd5dfe1-b0de-40b3-b4c5-599ac99e7f54">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="89011662-2e41-4973-838f-1bcaaeec99a1" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="6c8a9df2-e523-4b7e-af02-4f04cceaec58" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Request": {
		"payload": message.payload
	}
	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	<flow name="APIListner" doc:id="fcbb522b-9b22-4d18-83c1-7918d76699c7" >
		<http:listener doc:name="API/Listener" doc:id="f7931d86-f834-436f-b76b-216ea2abcf60" config-ref="Login" path="/api/listener"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c8047e2a-d0ed-4254-a292-3e1ba3bf7305" mimeType="application/json"/>
	</flow>
	<flow name="testFlow" doc:id="44a8f7ae-6fe0-4c0b-9b1e-b5c66035562c" >
		<http:listener doc:name="Listener" doc:id="a91a19ff-cbfe-4408-bbb8-f7cc30561e16" config-ref="Login" path="/test" outputMimeType="text/javascript"/>
		<ee:transform doc:name="Transform Message" doc:id="5b51e693-d29f-43f5-b4ee-0202e69e201c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var result = payload
---
{
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
