.tooling/emailf7f816dd-77d0-4406-8772-44fff990db9c/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="Login" doc:name="HTTP Listener config" doc:id="efe21083-0d39-4bf3-a6d0-cfb84ae375d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="DefaultMySQLConn" doc:name="Database Config" doc:id="fc265a34-bd77-4922-bf8a-c2ebdecacb32" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="email" />
	</db:config>
	<http:request-config name="login" doc:name="HTTP Request configuration" doc:id="0895b883-8e37-41f4-be02-9ec3a977020c" >
		<http:request-connection host="localhost" port="900" />
	</http:request-config>
	<flow name="emailFlow" doc:id="ab9de49b-c2c2-42b4-8bf4-89a0e644eeca" >
		<http:listener doc:name="Login" doc:id="26e8c8a4-7197-4050-9a4c-30e13311b8fa" config-ref="Login" path="/login"/>
		<set-variable value="#[message.payload.username as String]" doc:name="Username" doc:id="4f6fefa2-8b5f-4974-b64b-1df952d40971" variableName="username"/>
		<set-variable value="#[message.payload.password as String]" doc:name="Password" doc:id="caf6d845-7e1d-4b6c-84d1-f5c392927bd0" variableName="password"/>
		<http:request method="POST,GET" doc:name="Request" doc:id="db3286d4-63c4-4a22-a975-319272db5c6a" config-ref="login">
			<http:body ><![CDATA[#[{
	"username": vars.username,
	"password": vars.password
}]]]></http:body>
		</http:request>
	</flow>
</mule>
