training-american-ws/src/main/mule/training-american-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="38d8e049-4d9c-4591-aabc-ec84d074b079" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="dbConfig" doc:name="Database Config" doc:id="110a7158-c170-4aa4-a73b-fb1898e2cc8f" >
		<db:my-sql-connection host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlightsFlow" doc:id="619b91a6-d41e-476e-bdf1-85e4ec5508f7" >
		<http:listener doc:name="Listener" doc:id="e70b0f7c-67ca-4737-bd5e-4d3c6bb1ea28" config-ref="HTTP_Listener_config" path="/flights"/>
		<db:select doc:name="Select" doc:id="ff6c401e-9fe4-4842-938a-d95229b0a4c1" config-ref="dbConfig">
			<db:sql >SELECT *
FROM american;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="500cec51-a8c1-49a1-a3a8-e35858d637bd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlightFlow" doc:id="9cdc18e3-677c-4c49-a91a-a809462def28" >
		<http:listener doc:name="Listener" doc:id="f3a5263f-479a-4f06-9fea-ff272ebbdc13" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-payload value='{ "Message" : "Flight added (But not really)"}' doc:name="Set Payload" doc:id="fcc2b461-75a0-4f7e-a057-cdfbfee222b5" />
	</flow>
	<flow name="getFlightsByIDFlow" doc:id="7fb972ac-fe8e-4ce8-82bb-aa427b5c3e6e" >
		<http:listener doc:name="Flights ID Listener" doc:id="43ffc65d-abf0-44c8-8804-3025b3a7ad85" config-ref="HTTP_Listener_config" path="/flights/{ID}" />
		<db:select doc:name="SELECT BY ID" doc:id="51abbd84-c3c3-4e08-8326-1f25d51f2071" config-ref="dbConfig" >
			<db:sql >SELECT *
FROM american
WHERE ID = :ID;</db:sql>
			<db:input-parameters ><![CDATA[#[ID : message.attributes.uriParams.ID]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="53c16a1a-e05f-4502-a01b-37e5dc109b35" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
