.tooling/schools7d4d8aef-e1e5-496f-b115-cdf54b2aa701/schools.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3245859e-fecf-40c4-aa58-d59db7a8b1cc" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="test"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c95d99bd-b4ed-4506-a58c-00b64eb8af92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="8be078fd-cf11-4790-8149-174961c53546" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="tesco" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="2ba5518f-0d8b-40c6-beb0-479460201d10" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="test" />
	</db:config>
	<flow name="deleteSchool" doc:id="d98542c3-4bc1-472f-b3d3-ef7cee433a54" >
		<http:listener doc:name="Listener" doc:id="7d12548f-ddfd-41da-923e-b1db64287a1a" config-ref="HTTP_Listener_config" path="/delete"/>
		<set-variable value="#[message.payload.RegNo]" doc:name="RegNo" doc:id="a09412f9-521a-4000-ad19-3056b4c4648c" variableName="RegNo"/>
		<db:delete doc:name="Delete" doc:id="6a53d23e-fbea-46ea-af8a-7f748c109ae3" config-ref="Database_Config">
			<db:sql >DELETE FROM school WHERE REGNO = :regno</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"regno": vars.RegNo
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="e025eac2-1edb-4443-ac38-595beae9549e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data":	payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateSchool" doc:id="41c91c57-070f-4753-b6a8-6e7015215994" >
		<http:listener doc:name="Listener" doc:id="1fc24478-f23e-42c8-a366-22a683e2e0ef" config-ref="HTTP_Listener_config" path="/update"/>
		<set-variable value="#[message.payload.RegNo as Number]" doc:name="Regno" doc:id="90099a9c-c182-40a6-bebc-bb2830a4cf33" variableName="RegNo"/>
		<set-variable value="#[message.payload.Name as String]" doc:name="Name" doc:id="7f9df60c-2370-4531-b039-07e86e4fa351" variableName="Name"/>
		<set-variable value="#[message.payload.Marks as Number]" doc:name="Marks" doc:id="c79f850b-99e6-44c3-bd0e-e49bddaaf1de" variableName="Marks"/>
		<db:update doc:name="Update" doc:id="11dc98b3-1cf0-4647-b4d4-1f2474fc7ba9" config-ref="Database_Config2">
			<db:sql >UPDATE school SET 
NAME=:name,
MARKS=:marks
WHERE REGNO = :regno</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"regno": vars.RegNo,
	"name": vars.Name,
	"marks": vars.Marks
}]]]></db:input-parameters>
		</db:update>
		<http:request method="GET" doc:name="Request" doc:id="3cfa094d-8abe-49ab-bd73-1ebd23cec314" url="http://localhost:8081/get" outputMimeType="application/json"/>
		<db:select doc:name="Select" doc:id="d86e65f8-2fd0-470e-9eb6-32eb78aba940" config-ref="Database_Config2">
			<db:sql >SELECT * FROM school WHERE REGNO = :regno;</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"regno": vars.RegNo
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4080230c-69c2-4436-8d52-7b070c09930a" />
		<ee:transform doc:name="Transform Message" doc:id="11cd3478-096f-481f-9b96-acc4c5f2450d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="insertSchool" doc:id="b4e0196b-232e-410b-90e7-1561d4508f93" >
		<http:listener doc:name="Listener" doc:id="4946e9b8-1a8e-4566-9e22-dca15a64f654" config-ref="HTTP_Listener_config" path="/add"/>
		<set-variable value="#[message.payload.RegNo as Number]" doc:name="RegNo" doc:id="ca30b17f-d3b2-401c-a277-9e25b22bba5e" variableName="RegNo"/>
		<set-variable value="#[message.payload.Name as String]" doc:name="Name" doc:id="f69d5e22-6ed6-486f-ad42-e956d69d06bb" variableName="Name"/>
		<set-variable value="#[message.payload.Marks as Number]" doc:name="Marks" doc:id="7251b79d-01f3-4ac2-b646-0eca96307d74" variableName="Marks"/>
		<db:insert doc:name="Insert" doc:id="c26d4bc6-db75-4411-bd31-9129b1bb523a" config-ref="Database_Config2">
			<db:sql >INSERT INTO school (NAME, MARKS) VALUES(:Name, :Marks)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"Name": vars.Name,
	"Marks": vars.Marks
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="eeef705b-32d6-4c72-86ca-aa4d929ba93f" mimeType="text/html"/>
	</flow>
	<flow name="testSelect" doc:id="d30845a8-bba7-4257-8fc4-4719c09847e9" >
		<http:listener doc:name="Listener" doc:id="14e2d2be-bcac-4d13-9a1e-701599d7a0fd" config-ref="HTTP_Listener_config" path="/get"/>
		<try doc:name="Try" doc:id="25ff55cd-35f3-4f49-869e-fc65c04a0fc3" >
			<db:select doc:name="Select" doc:id="0ed77cee-9116-4ab2-b6a1-6e66533def40" config-ref="Database_Config1">
			<db:sql>SELECT * FROM product;</db:sql>
		</db:select>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="460858b1-b598-4c30-b102-ca9a07e0e836">
					<set-payload value="Error." doc:name="Set Payload" doc:id="2a5fbc43-db38-4ef8-ade2-9ba8581a8ca7" />
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="c356a50c-ceca-4839-b69d-7c9f3a97c2ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="SelectFromSelection" doc:id="f6564312-fb7f-446a-a881-c8cbc2ff33a2" >
		<http:listener doc:name="Listener" doc:id="3629a66b-e425-4dd5-aac8-320374c9e62c" config-ref="HTTP_Listener_config" path="/getMenu"/>
		<set-variable value="#[message.payload.selection as String]" doc:name="Set Variable" doc:id="b9efbd94-f58f-4385-ade1-e8efc6b3486c" variableName="selection" />
		<db:select doc:name="Select" doc:id="8013d29c-7698-43d1-a353-530ea4d1216f" config-ref="Database_Config2">
			<db:sql >SELECT * FROM school;</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"item": vars.selection
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bf3a978d-0266-4393-a1f1-9421e9e3bc74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
