email/src/main/mule/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="Login" doc:name="HTTP Listener config" doc:id="efe21083-0d39-4bf3-a6d0-cfb84ae375d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="DefaultMySQLConn" doc:name="Database Config" doc:id="fc265a34-bd77-4922-bf8a-c2ebdecacb32" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="email" />
	</db:config>
	<http:request-config name="login" doc:name="HTTP Request configuration" doc:id="0895b883-8e37-41f4-be02-9ec3a977020c" >
		<http:request-connection host="localhost" port="900" streamResponse="true">
			<reconnection >
				<reconnect />
			</reconnection>
		</http:request-connection>
	</http:request-config>
	<flow name="emailFlow" doc:id="ab9de49b-c2c2-42b4-8bf4-89a0e644eeca" >
		<http:listener doc:name="Login" doc:id="26e8c8a4-7197-4050-9a4c-30e13311b8fa" config-ref="Login" path="/login"/>
		<set-variable value="#[message.payload.username as String]" doc:name="Username" doc:id="4f6fefa2-8b5f-4974-b64b-1df952d40971" variableName="username"/>
		<set-variable value="#[message.payload.password as String]" doc:name="Password" doc:id="caf6d845-7e1d-4b6c-84d1-f5c392927bd0" variableName="password"/>
		<http:request method="GET" doc:name="Request" doc:id="0f160639-5d41-4f4a-ad22-fe0bd55010aa" config-ref="login" url="http://localhost:900"/>
	</flow>
	<flow name="testFlow" doc:id="44a8f7ae-6fe0-4c0b-9b1e-b5c66035562c" >
		<http:listener doc:name="Listener" doc:id="a91a19ff-cbfe-4408-bbb8-f7cc30561e16" config-ref="Login" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="5b51e693-d29f-43f5-b4ee-0202e69e201c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Response": "Mule is live!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
