email/src/main/mule/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	
	<flow name="inboxFlow" doc:id="fd98943f-b644-4208-9adc-bfdc8deec417" >
		<set-variable value="#[message.payload.id]" doc:name="Set ID" doc:id="bb5dd85e-b517-41a3-abbf-5fecf64bedf9" variableName="userId"/>
		<http:request method="GET" doc:name="Get inbox" doc:id="83501a1d-ae25-4bb1-9a0e-aac864914b90" config-ref="NodeAPI" url="http://localhost:900/inbox"/>
	</flow>
	<flow name="emailFlow" doc:id="1dbaee01-3f23-41bc-8806-e1cbb1c804d6" >
		<http:listener doc:name="Listener" doc:id="eeed9fba-8014-447c-a00c-c1832a5d96cb" config-ref="muleAPI" path="/*"/>
		<choice doc:name="Choice" doc:id="e2040a2d-fb1d-4d6a-a12d-74ba35cb62de" >
			<when expression="#[attributes.requestPath == '/login']">
				<flow-ref doc:name="Login Reference" doc:id="6cb8cd5d-8b08-47f0-af2b-047fedcd5910" name="loginFlow"/>
			</when>
			<when expression="#[attributes.requestPath =='/createAccount']">
				<flow-ref doc:name="Create Account Reference" doc:id="4847abb5-f0a4-4bd1-b3ca-8cf58cbdcd4b" name="createAccountFlow"/>
			</when>
			<when expression="#[attributes.requestPath == '/inbox']">
				<flow-ref doc:name="Inbox Flow Reference" doc:id="9017e32c-5792-4514-aa41-8e8254d22277" name="inboxFlow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Test Mule Ref" doc:id="b9e5d6cd-18c9-4dec-8c71-dc975a3e097c" name="testFlow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="createAccountFlow" doc:id="8c659879-fcf2-48a3-b567-5419c3561472" >
		<try doc:name="Try" doc:id="2587423a-f946-42e5-a956-b8d40ff05f3b" >
			<set-variable value="#[message.payload.username as String]" doc:name="Set Username" doc:id="a3f00f1e-039a-451a-8ea2-f0b0f9703636" variableName="username" />
			<set-variable value="#[message.payload.password as String]" doc:name="Set Password" doc:id="03ddaaff-3d90-47da-8474-40bdc5468792" variableName="password" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="49f01b6d-0879-4c4a-979b-22fc2ce24729" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="40df7056-7b85-4b37-ad8b-90b1ce38d5bc">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Error": {
		"Message": "Error with variables.",
		"Payload": message.payload
		}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<http:request method="POST" doc:name="createAccount REQ" doc:id="4b7bf309-0c8b-4b2e-80e9-b4be5d9ed9e8" config-ref="NodeAPI" url="http://localhost:900/createAccount">
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c54c314c-a4ea-4f03-a59b-ec5654c044c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Response": payload.insertId as Number
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="loginFlow" doc:id="cc259b5e-7288-48d3-abeb-da301adcb6e2" >
		<try doc:name="Try" doc:id="ae6d26c5-6547-4401-ba48-4ee33ac1b2b5" >
			<set-variable value="#[message.payload.username as String]" doc:name="Username" doc:id="265c4ac7-c155-4459-ac26-cf8d5ff211a8" variableName="username" />
			<set-variable value="#[message.payload.password as String]" doc:name="Password" doc:id="65197ea1-0a9b-4a58-9f60-434e6f7e2d01" variableName="password" />
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="10e5a361-c888-4a7d-811b-dc25dc124c7a" >
					<ee:transform doc:name="Transform Message" doc:id="1ca9b5c9-bdc2-4cec-bfe3-76a3bf3cef66">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"Variables": "Error in the variables."
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			
</error-handler>
		
</try>
		<try doc:name="Try" doc:id="3a77c497-c439-4e96-9545-285a19281686" >
			<http:request method="POST" doc:name="login" doc:id="2b8efd84-55a3-4062-b7ac-04078d83d512" config-ref="NodeAPI" url="http://localhost:900/login">
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="442d4a51-7832-4e82-9bdb-c4d12349bd68" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="3d21e67c-8751-4fba-9b67-7a7ead690c00">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Request failed": {
		"payload": message.payload
	}
	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			
</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="88e2e7f0-8332-4ce2-9100-3d69a4f6c5e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Result": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<flow name="testFlow" doc:id="fa3eec0d-9e6f-4571-a03a-2912db7a15b4" >
		<http:listener doc:name="Listener" doc:id="87da8767-45a9-42f8-b5ce-af3cd1a8d049" config-ref="muleAPI" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="49ba7a55-54c9-4c3f-ab6f-ea2924ed24af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Mule server is live."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
