.tooling/School9286f894-fdfa-4a00-a17c-cab0024bba25/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9dfa29ac-ba3e-4db8-8d43-96370bf221a6" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="tesco"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f83c3eed-31c5-4cfa-a85c-f9891215274e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="d601a42c-8d13-4310-8023-6d2829cc77a9" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="tesco" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="28836b39-801c-4564-b655-097a0f121994" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="test" />
	</db:config>
	<flow name="deleteSchool" doc:id="53aef670-cc3b-444c-9fd9-5e1c0bcd2e26" >
		<http:listener doc:name="Listener" doc:id="da09cfbe-483e-482f-967c-839bdea78b33" config-ref="HTTP_Listener_config" path="/delete"/>
		<set-variable value="#[message.payload.RegNo]" doc:name="RegNo" doc:id="3a581540-844e-4bd8-8c6b-a6269bad5465" variableName="RegNo"/>
		<db:delete doc:name="Delete" doc:id="4157e66c-afd3-4c02-bc2b-02d3e601b4f5" config-ref="Database_Config">
			<db:sql >DELETE FROM school WHERE REGNO = :regno</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"regno": vars.RegNo
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="5508b262-fdc4-4eb6-95eb-5e79abea7451" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Query": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateSchool" doc:id="90fdfb39-4ece-492d-aed2-1c181388e987" >
		<http:listener doc:name="Listener" doc:id="d7774dfa-7a32-4ef2-be56-f09ff18596df" config-ref="HTTP_Listener_config" path="/update"/>
		<set-variable value="#[message.payload.RegNo as Number]" doc:name="Regno" doc:id="db22315b-5cef-480f-8df4-1e421d4da461" variableName="RegNo"/>
		<set-variable value="#[message.payload.Name as String]" doc:name="Name" doc:id="d1b6afb5-55ca-45b7-837f-fe9968c105ca" variableName="Name"/>
		<set-variable value="#[message.payload.Marks as Number]" doc:name="Marks" doc:id="ba13a0b7-84fd-41d1-9851-bd6e5febd6ab" variableName="Marks"/>
		<db:update doc:name="Update" doc:id="9b977697-46a9-4b28-bf6c-9ef8c516e1f1" config-ref="Database_Config2">
			<db:sql >UPDATE school SET 
NAME=:name,
MARKS=:marks
WHERE REGNO = :regno</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"regno": vars.RegNo,
	"name": vars.Name,
	"marks": vars.Marks
}]]]></db:input-parameters>
		</db:update>
		<http:request method="GET" doc:name="Request" doc:id="f48f5273-c880-4398-868e-13f64f3f507d" url="http://localhost:8081/get" outputMimeType="application/json"/>
		<db:select doc:name="Select" doc:id="6d8509fa-b9fe-4cb9-a4ae-30e29d2282b7" config-ref="Database_Config2">
			<db:sql >SELECT * FROM school WHERE REGNO = :regno;</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"regno": vars.RegNo
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c3750c85-3d2c-44e7-9807-2a630afbdf72" />
		<ee:transform doc:name="Transform Message" doc:id="7fe5f95d-966c-4a67-9282-8de4ae0c5f8c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="insertSchool" doc:id="9b8774f5-f6f4-4097-bf7e-50100de8810d" >
		<http:listener doc:name="Listener" doc:id="21cc2202-d9d3-490c-b309-1f29e60173bd" config-ref="HTTP_Listener_config" path="/add"/>
		<set-variable value="#[message.payload.RegNo as Number]" doc:name="RegNo" doc:id="72bf2770-23b3-4333-9c17-69368cf87af5" variableName="RegNo"/>
		<set-variable value="#[message.payload.Name as String]" doc:name="Name" doc:id="a1428dcc-7bb4-402b-9b70-da76be68fa01" variableName="Name"/>
		<set-variable value="#[message.payload.Marks as Number]" doc:name="Marks" doc:id="528f7c01-5158-4191-8de7-85c66198454b" variableName="Marks"/>
		<db:insert doc:name="Insert" doc:id="805a6205-d305-4b19-be05-9b6df59a766c" config-ref="Database_Config2">
			<db:sql >INSERT INTO school (NAME, MARKS) VALUES(:Name, :Marks)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"Name": vars.Name,
	"Marks": vars.Marks
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="cf348e44-46cd-43b5-82dc-a14639779151" mimeType="text/html"/>
	</flow>
	<flow name="testSelect" doc:id="e6b10676-b624-4bf3-bc81-be915bb036e6" >
		<http:listener doc:name="Listener" doc:id="8044d882-d068-4eba-ad7f-a5d242c9d0df" config-ref="HTTP_Listener_config" path="/get"/>
		<db:select doc:name="Select" doc:id="b4499db2-4d1c-4861-b41d-c7e114e72e2d" config-ref="Database_Config1">
			<db:sql>SELECT * FROM product;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="19004e59-9f19-4f0a-9866-c01771a8618e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
