.tooling/email8413056e-1e61-4eff-a855-965a7a8f1025/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="Login" doc:name="HTTP Listener config" doc:id="d4fbc08d-0652-47a3-bf32-d4b083521ea4" >
		<http:listener-connection host="0.0.0.0" port="8081" >
			<reconnection >
				<reconnect />
			</reconnection>
			<reconnection >
				<reconnect />
			</reconnection>
		
</http:listener-connection>
	</http:listener-config>
	<db:config name="DefaultMySQLConn" doc:name="Database Config" doc:id="88e959f4-6641-4149-9aaa-0bd70b53431a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="email" />
	</db:config>
	<http:request-config name="login" doc:name="HTTP Request configuration" doc:id="041c42fc-e4cf-44fb-b9b0-b43781402761" >
		<http:request-connection host="localhost" port="900" streamResponse="true">
			<reconnection >
				<reconnect />
			</reconnection>
		</http:request-connection>
	</http:request-config>
	<http:request-config name="loginPage" doc:name="HTTP Request configuration" doc:id="41b08338-0f38-416c-9638-cc3e80caf8e3" >
		<http:request-connection host="localhost" port="901" />
	</http:request-config>
	<flow name="emailFlow" doc:id="cc259b5e-7288-48d3-abeb-da301adcb6e2" >
		<http:listener doc:name="Login" doc:id="305b5a08-4016-4264-ae2b-fb62e22db23e" config-ref="Login" path="/login"/>
		<try doc:name="Try" doc:id="ae6d26c5-6547-4401-ba48-4ee33ac1b2b5" >
			<set-variable value="#[message.payload.username as String]" doc:name="Username" doc:id="265c4ac7-c155-4459-ac26-cf8d5ff211a8" variableName="username" />
			<set-variable value="#[message.payload.password as String]" doc:name="Password" doc:id="65197ea1-0a9b-4a58-9f60-434e6f7e2d01" variableName="password" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2fd7f8aa-a0e2-4bd5-8b75-8d903eee084d" >
					<ee:transform doc:name="Transform Message" doc:id="1ca9b5c9-bdc2-4cec-bfe3-76a3bf3cef66" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"Variables": "Error in the variables."
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="8e58c099-c3a5-47f8-af96-f157c4112cac" message="#[payload]"/>
		<try doc:name="Try" doc:id="3a77c497-c439-4e96-9545-285a19281686" >
			<http:request method="POST" doc:name="Request" doc:id="2b8efd84-55a3-4062-b7ac-04078d83d512" config-ref="login" url="http://localhost:900/">
		</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="caeaa04e-c5a0-4b00-afe5-b5644a1a0e70" message="#[payload]"/>
			<ee:transform doc:name="Transform Message" doc:id="4246e0b8-b365-4841-80af-b9015f7363e0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"SQL Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0de76aa3-f631-4fe0-812c-ae9b111ebda5" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
					<ee:transform doc:name="Transform Message" doc:id="3d21e67c-8751-4fba-9b67-7a7ead690c00" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Request failed": {
		"payload": message.payload
	}
	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	<flow name="APIListner" doc:id="f0490263-be80-4b92-be40-8a5caae1fbe3" >
		<http:listener doc:name="API/Listener" doc:id="2ac64b75-e303-4006-afc2-19bf28c3e97b" config-ref="Login" path="/listener" outputMimeType="application/json"/>
		<ee:transform doc:name="Transform Message" doc:id="b68d5a92-edab-43d4-b292-c4f894813c7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="testFlow" doc:id="fa3eec0d-9e6f-4571-a03a-2912db7a15b4" >
		<http:listener doc:name="Listener" doc:id="e33ca1b6-8de0-4ca2-a202-0539afa12316" config-ref="Login" path="/test" outputMimeType="text/javascript"/>
		<ee:transform doc:name="Transform Message" doc:id="49ba7a55-54c9-4c3f-ab6f-ea2924ed24af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var result = payload
---
{
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
